* {
    box-sizing: border-box;
}


body {

    margin: 0;
    padding: 0;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #111,
        #292929
    );

    font-family: Arial, sans-serif;

    color: white;

}



.container {

    width: 95%;
    max-width: 500px;

    text-align: center;

}



.archive {

    font-size: 18px;

    letter-spacing: 4px;

    color: #ffd700;

    margin-bottom: 15px;

    font-weight: bold;

    text-transform: uppercase;

}



h1 {

    font-size: 42px;

    margin: 10px 0 20px;

    color: #fff;

    text-shadow:
    0 0 10px #ffd700,
    0 0 20px #ffd700;

}



.info {

    display: flex;

    justify-content: space-around;

    background: rgba(255,255,255,0.1);

    padding: 15px;

    border-radius: 15px;

    margin-bottom: 20px;

    font-size: 22px;

}



#gameArea {

    width: 100%;

    height: 450px;

    position: relative;

    overflow: hidden;

    background:

    linear-gradient(
    180deg,
    #222,
    #000
    );


    border-radius: 25px;

    border: 3px solid #ffd700;

    box-shadow:
    0 0 20px #ffd700;

}



.item {

    width: 90px;

    height: 90px;

    position: absolute;

    display: none;

    cursor: pointer;

    user-select: none;

    transition: transform .1s;

}



.item:active {

    transform: scale(1.2);

}



#startBtn {

    margin-top: 25px;

    padding: 15px 40px;

    font-size: 20px;

    font-weight: bold;

    border: none;

    border-radius: 30px;

    background: #ffd700;

    color: black;

    cursor: pointer;

    box-shadow:

    0 0 15px #ffd700;

}



#startBtn:hover {

    transform: scale(1.05);

}



#message {

    margin-top: 20px;

    font-size: 25px;

    font-weight: bold;

    color: #ffd700;

}



/* Telefon uyumu */

@media(max-width:600px){

    h1 {

        font-size: 34px;

    }


    #gameArea {

        height: 400px;

    }


    .item {

        width: 75px;

        height: 75px;

    }

    }
